/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: #675AFE;
  justify-content: center;
}
::selection{
  color: #fff;
  background: #675AFE;
}
.wrapper{
  width: 390px;
  padding: 12px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.wrapper form{
  margin: 18px 0 0 0;
}

form :where(input, select, button){
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}

.drop-list {
display: flex;
flex-direction: row;
column-gap: 15px;
justify-content: center;
}

#criptoElegida {
  width: 175px;  
  height: 35px;
  font-size: 13px;
  padding: 0 10px;
  border: 1px solid #999;
}

form input{
  width: 175px;  
  height: 35px;
  font-size: 13px;
  padding: 0 10px;
  border: 1px solid #999;
}


form button{
  margin-top: 20px;
  height: 35px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  background: #675AFE;
  transition: 0.3s ease;
}
form button:hover{
  background: #4534fe;
}

img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    bottom: 5px;
    float: left;
}


.titulo h2{
  font-size: 22px;
    text-align: center;
}

.titulo p {
    text-align: center
}

p { 
    font-size: 13px;
}

#hora{
    text-align: center;
}
